fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain-community
langchain-text-splitters
pypdf


sqlalchemy[asyncio]
psycopg2-binary
pgvector
alembic

groq
fastembed
pytest
pytest-asyncio
httpx
reportlab
asyncpg
pytest-asyncio
httpx
mcp
boto3
langfuse
openai
