fastapi
uvicorn[standard]
python-multipart

langchain-community
langchain-text-splitters
pypdf
sentence-transformers

sqlalchemy
psycopg2-binary
pgvector
alembic

groq

pytest
pytest-asyncio
httpx
reportlab
