fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain-community
langchain-text-splitters
pypdf
sentence-transformers

sqlalchemy
psycopg2-binary
pgvector
alembic

groq
fastembed
pytest
pytest-asyncio
httpx
reportlab
